In [2]:
from pathlib import Path
print(Path.cwd())

C:\Users\priya\My_python_project

In [3]:
import os
print(os.listdir())

['.git', '.ipynb_checkpoints', 'My_python_project_notebook.ipynb']

In [4]:
import os
print(os.path.abspath("My_python_project_notebook"))  # Get full path of the file

C:\Users\priya\My_python_project\My_python_project_notebook

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from statsmodels.tsa.stattools import acf, pacf, adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.metrics import mean_squared_error, mean_absolute_error, explained_variance_score, r2_score
from sklearn.preprocessing import MinMaxScaler
from statsmodels.tsa.arima.model import ARIMA
import seaborn as sns

# Introduction

## Analysis of four Types of Crypto-Currencies

## 1) Bitcoin
## 2) Dogecoin
## 3) Cardano
## 4) Ethereum

## Variable Explanation
## Date - The specific date for data entry
## Open - The price of Crypto Currency at the beginning of the trading day (Bitcoin started trading at the beginning)
## High - This is the maximum price reached by Crypto Currency during the trading day
## Low - This is the minimum price reached by Crypto Currency during the trading day
## Close - This is the price at which Crypto Currency was traded at the end of the trading day.
## Adj Close - This is the closing price after making adjustments for any actions like splits or dividends. For Crypto Currency, it doesn't have any dividends and splits, so the adjusted close might often be the same as the close price.¶
## Volume - This represents the total units that were added throughout the day

In [10]:
df_bt = pd.read_excel(r"C:\Users\priya\OneDrive\Documents\Time Series Forecasting Crypto Currency\BTC-USD.xlsx")

In [11]:
df_bt

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-09-13,235.242004,235.934998,229.332001,230.511993,230.511993,1.847880e+07
1,2015-09-14,230.608994,232.440002,227.960999,230.643997,230.643997,2.099780e+07
2,2015-09-15,230.492004,259.182007,229.822006,230.304001,230.304001,1.917780e+07
3,2015-09-16,230.250000,231.214996,227.401993,229.091003,229.091003,2.014420e+07
4,2015-09-17,229.076004,230.285004,228.925995,229.809998,229.809998,1.893540e+07
...,...,...,...,...,...,...,...
2188,2021-09-09,45774.742188,47261.949219,45669.738281,46391.421875,46391.421875,3.867266e+10
2189,2021-09-10,46396.664063,47031.742188,44344.484375,44883.910156,44883.910156,3.915467e+10
2190,2021-09-11,44869.839844,45969.292969,44818.265625,45201.457031,45201.457031,3.449984e+10
2191,2021-09-12,45206.628906,46364.878906,44790.460938,46063.269531,46063.269531,2.788198e+10
2192,2021-09-13,46114.171875,46234.527344,44268.375000,44743.929688,44743.929688,3.184200e+10